@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Рады видеть вас!</h1>
    <p>Добро пожаловать на IdenTicket, лучший в мире поисковик авиабилетов.</p>
</div>
