@model SearchViewModel

@{
    ViewData["Title"] = "Главная";
}

<div class="d-flex flex-column justify-content-center" style="height: 70vh;">
    <div>

    </div>
    <partial name="_SearchPartial" model="Model" />
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}